/* position - static, relative */
body{
    background: #105278;
}
#container{
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
}
h1{
    /*position: static; */
}
p{
    width: 350px;
    padding: 10px;
    border: 1px solid #000;
}
.relative{
    position: relative;
    /* propriedades de posicionamento */
    top: -50px; /* desloca o elemento para baixo */
    right: 200px; /* deslocal o elemento para a direita */

}